{:screencast-filename-bases [{:screencast-filename "intro" :screencast-title "Introduction"   :screencast-uuid #uuid "8147f4ac-0670-4bd8-9c4d-d98813b7c4b9"}
                             {:screencast-filename "usage" :screencast-title "Usage"          :screencast-uuid #uuid "92a87902-1759-41fc-aa98-3238c1c9bcd0"}
                             {:screencast-filename "demo" :screencast-title "Demonstrations" :screencast-uuid #uuid "07d1be48-86c4-4145-afd4-2c16bcfaaf4e"}]


 :copyright-holder "Brad Losavio from options file"
 :project-name-formatted "project name from options file"
 :project-description "project description from options file"
 :project-webpage-link "webpage link from options file"
 :project-license-section [:div.license "project license section from options file"]

 :screencast-html-directory "doc/screencast_slides/"
 :sections-directory "resources/screencast_sections/"

 :separator " -->> "
 :wrap-at 80}